@import "./../../scss/_base.scss";

.box {
  img {
    width: 100%;
  }
}

[data-dpr="2"] .btn {
  background: url(./images/filter@2x.png) no-repeat top center;

}
[data-dpr="3"] .logo {
  background: url(./images/filter@3x.png) no-repeat top center;
}
