@import "./../../scss/_base.scss";

.box {
  min-height: uc(710);
}
.mural {
  width: 100%;
  ul {
    margin: 0 uc(30);
  }
  li {
    float: left;
    width: uc(335);
    height: uc(310);
    margin: 0 0 uc(20);

    box-shadow: 0 2px 4px #ccc;

    &:nth-child(2n) {
      float: right;
    }

  }
  a {
    display: block;

    width: uc(335);
    height: uc(250);
    background-size: cover;
  }
  h2 {
    height: uc(60);
    padding: 0 uc(20);

    color: #666;
    font-size: 12px;
    line-height: uc(60);
  }
}

[data-dpr="2"] .btn {

}
[data-dpr="3"] .logo {
}
