@import "./../../scss/_base.scss";

.stat {
  margin: uc(45) 0 uc(52);
  width: uc(750);
  text-align: center;

  li {
    display: inline-block;
    width: uc(240);

    text-align: center;
    &:nth-child(1) {
      border: 1px solid #352e2c;
      border-width: 0 1px 0 0;
    }
    &:nth-child(2) {
      border: 1px solid #352e2c;
      border-width: 0 1px 0 0;
    }
  }
  em {
    display: block;

    font-size: uc(40);
    font-style: normal;
    font-weight: bold;
    line-height: uc(56);
  }
  span {
    display: block;
    font-size: uc(20);
    line-height: uc(30);
  }
}

.more {
  display: block;
  margin: 0 auto uc(48);
  width: uc(400);
  height: uc(60);

  color: #fff;
  font-size: uc(28);
  line-height: uc(60);
  text-align: center;
  text-decoration: none;

  border-radius: uc(6);
  background: #1a1a1a;
}

.entry {
  margin: 0 auto uc(30);
  width: uc(690);
  min-height: uc(300);

  text-align: center;

  background: url(./images/about.png) no-repeat top center;
  background-size: 100% 100%;

  em {
    display: block;
    padding: uc(95) 0 0;

    color: #fff;
    font-size: 25px;
    font-style: normal;
    font-weight: bold;
  }
  span {
    display: block;
    padding: uc(20) 0 0;

    color: #fff;
    font-size: 12px;
  }
}
.exhibition {
  margin: 0 auto uc(20);

  background: url(./images/exhibition.png) no-repeat top center;
  background-size: 100% 100%;
}
[data-dpr="2"] .entry {
  em {
    font-size: 50px;
  }
}
[data-dpr="3"] .entry {
  em {
    font-size: 75px;
  }
}
